.container {
    background-color: #f7f7f7;
}
.card-title {
    background-color: #f7f7f7;
    margin-bottom: 0;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-top: 5px;
}
.title-cont {
    margin-top: 5px;
    margin-bottom: 5px;
}


.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
#headLine {
    background-color: white;
}

#aPanel {
    margin-left: 15px;
    margin-bottom: 15px;
}
.col-3 {
    margin-top: 10px;
}
.row{
    margin-right: 0;
}

#mainSpace {

    padding-top: 10px;

}
.card {
    margin-right: 20px;
}

#colMain{
    padding-top: 15px;
}

