<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Форма добавления пользователя</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<header>
    <div class="container-fluid">
        <nav class="navbar navbar-dark bg-dark">
            <div class="col-11">
                <h4 style ="color: white"><span th:text="${mUser.getEmail()}"></span> with roles: <span style ="color: white" th:text="${mUser.getRoleList()}"></span></h4>
            </div>

            <div class="col-1">
                <a style="color: #9a988a" th:href="@{/logout}">Logout</a>
            </div>
        </nav>
    </div>

</header>

<main>
    <div id="maincont" class="container-fluid">
        <div class="row">
            <div class="col-2">
                <ul class="nav flex-column nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="page">User</a>
                    </li>
                </ul>
            </div>
            <div class="col-10">
                <div id="aPanel" class="row">
                    <h4>Admin Panel</h4>
                </div>
                <div class="card text-center">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active nBtn" href="/new">New user</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-left">All users</h5>
                            <form th:action="@{/save}" th:method="post">
                                <div class="form-group">
                                    <label class="form-control-label" for="username">firstName: </label>
                                    <input type="text" class="form-control" id="username" name="username" value="" />
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="age">age: </label>
                                    <input type="text" class="form-control" id="age" name="age" value="" />
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="email">email: </label>
                                    <input type="email" class="form-control" id="email" name="email" value="" />
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="password">password: </label>
                                    <input type="text" class="form-control" id="password" name="password" value="" />
                                </div>

                                <div class="form-group">
                                    <label for="infoRole">Role</label>
                                    <select multiple class="form-control" id="infoRole" name="infoRole">
                                        <option>ADMIN</option>
                                        <option>USER</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</main>



<script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/bootstrap.js"></script>
<script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>

</body>
</html>