<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">

</head>
<body>

<header>
    <div class="container-fluid">
        <nav class="navbar navbar-dark bg-dark">
            <div class="col-11">
                <h4 style ="color: white"><span th:text="${mUser.getEmail()}"></span> with roles: <span style ="color: white" th:text="${mUser.getRoleList()}"></span></h4>
            </div>

            <div class="col-1">
                <a style="color: #9a988a" th:href="@{/logout}">Logout</a>
            </div>
        </nav>
    </div>

</header>


<main>
    <div id="maincont" class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">User</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="title-cont"><h4>User information-page</h4></div>

                        <table class="table table-striped">

                            <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:object="${mUser}">
                                <td th:text="${mUser.getId()}">Ошибка</td>
                                <td th:text="${mUser.getUsername()}">First Name</td>
                                <td th:text="${mUser.getAge()}">Age</td>
                                <td th:text="${mUser.getEmail()}">Email</td>
                                <td th:text="${mUser.getRoleList()}">Role</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>



<script src="../../static/js/bootstrap.js"></script>
</body>
</html>